<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87277138014-2340d18ec2j21pm703otpnht620ffk3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87277138014-2340d18ec2j21pm703otpnht620ffk3e</string>
	<key>API_KEY</key>
	<string>AIzaSyAmPg3b8TOt9YYQJ7HzG7uY6LHPvjcjiZk</string>
	<key>GCM_SENDER_ID</key>
	<string>87277138014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.rit.TRVLR</string>
	<key>PROJECT_ID</key>
	<string>trvlr-bd030</string>
	<key>STORAGE_BUCKET</key>
	<string>trvlr-bd030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87277138014:ios:0abc40ef9973030f0984cf</string>
	<key>DATABASE_URL</key>
	<string>https://trvlr-bd030.firebaseio.com</string>
</dict>
</plist>